html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.lightmode {
  --bgcolor: snow;
  --maintextcolor: #111922;
  --titletext: black;
  --subheadingtext: #1171a2;
  --accentcolor: #0087ca;
  --navbarcolor: #111d2c;
  --navbartext: snow;
  --inputbg: snow;
  
}

.darkmode {
  --bgcolor: #11161d;
  --maintextcolor: white;
  --titletext: white;
  --subheadingtext: #3592c0;
  --accentcolor: #0087ca;
  --navbarcolor: #364354;
  --navbartext: snow;
  --inputbg: #3f454b;
}


#darkswitch {
  position: fixed;
  right: 15px;
  top: 15px;
  color: var(--buttontext);
  background-color: transparent;
  padding: 0px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

#lightswitch {
  position: fixed;
  right: 15px;
  top: 15px;
  color: var(--buttontext);
  background-color: transparent;
  padding: 0px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
}

body {
  background-color: var(--bgcolor);
  font-family: Inter, sans-serif;
  transition: background-color 0.3s;
  
}


h1 {
  text-align: center;
  color: var(--titletext);
  font-family: Inter, sans-serif;
  font-size: 25px;
}

h2 {
  text-align: left;
  color: var(--subheadingtext);
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

#intro {
  margin-bottom: 20em;
}

#projects {
  margin-bottom: 20em;
}

#about {
  margin-bottom: 20em;

}

.text {
  font-size: 13px;
  color: var(--maintextcolor);
  padding: 0px;
  transition: color 0.4s;
  margin-left:15px;
}

.navbar {
  /* display: flex;
  justify-content: center; */
  background-color: var(--navbarcolor);
  overflow: hidden;
  width:100%;
  margin:0;
  border-radius: 15px;
  box-shadow: 0px 3px 7px gray;
  
}

.navbar a{
  float:left;
  color: var(--navbartext);
  text-align: center;
  padding: 4px 25px; /* 1st position is for top/bottom, 2nd is for right/left */
  text-decoration: none;
  font-size: 12px;
  font-family: Inter, sans-serif;
  transition: color 0.4s;
}


.navbar a.active {
  background-color: var(--accentcolor);
  color: var(--navbartext);
}

.banner {
  display: block;
  margin: 20px auto; /* 0 is for top/bottom, auto is for right/left */
  width: 90%;
}

.homeintro {
  text-align: center;
}

.underlineEffect {
  display: inline-block;
  position: relative;
}

.underlineEffectactive {
  display: inline-block;
  position: relative;
}

.underlineEffect::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accentcolor);
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.underlineEffect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underlineEffectactive::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3daae1;
  transition: transform 0.25s ease-out;
  transform-origin: bottom right;
}

.underlineEffectactive:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

form {
  margin-left: 10px;
  color: var(--maintextcolor);
}

label {
  color: var(--maintextcolor)
}

input {
  background-color: var(--inputbg);
  color: var(--maintextcolor)
}

input::placeholder {
  
}

input[type=radio] {
  margin-left: 20px;
  accent-color: var(--accentcolor);
  background-color: var(--inputbg);
}

input[type=submit] {
  margin-top: 10px;
}

select {
  color: var(--maintextcolor);
  background-color: var(--inputbg);
}

option {
  color: var(--maintextcolor);
  background-color: var(--inputbg);
}

subject {
  background-color: var(--inputbg);
}
